[AUTOUPDATE]
# release.cfg - Release configuration for automatic updates.
#
# Host this file at the URL specified as RELEASECFG in plugin.cfg.
# LoxBerry checks this file periodically when the user enables automatic updates.
# If the VERSION here is newer than the installed plugin version, LoxBerry will
# offer (or automatically install) the update from the ARCHIVEURL below.
#
# Update this file when you publish a new release.

# Version of the new release (must be newer than the installed plugin version)
VERSION=1.0.0

# Direct download URL of the plugin ZIP archive for this release
ARCHIVEURL=https://github.com/mschlenstedt/LoxBerry-Plugin-SamplePlugin-V2-Perl/archive/release_1.0.0.zip

# URL to a page with release notes / changelog for this update
INFOURL=https://github.com/mschlenstedt/LoxBerry-Plugin-SamplePlugin-V2-Perl/commits
